table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 80px;
}

tr{
    border: 1px solid black;
}

tr> td:hover{
    background-color: gray;
    color: white;
}

th{
    background-color: rgb(255, 92, 43);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

td{
    border: 1px solid black;
    padding: 10px;
}


a{
    text-decoration: none;
    padding:5px 20px;
    border: 1px solid transparent;
    background-color: green;
    color: white;
    width: 20px;
    border-radius: 5px;
}

span{
    font-weight: 500;
    color: grey;
    padding-right: 40px;
    text-transform: uppercase;
}

.row{
    width: 100px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}